* {
  box-sizing: border-box; 
}

body {
  font-family: Helvetica;
  height: 100vh;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 0;
} 

  h1 {
    text-align: center;
    color: orange;
    justify-content: center;
  }

h2 {
  text-align: center;
  align-self: flex-start;
}

 .slot-machine {
width: 40%;
height: 50%;
display: flex;
justify-items: stretch;
align-items: center;
align-content: center;
border: 1px solid black;
padding: 20px;
border-radius: 10px; 
} 


#reel1 {
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  margin: 10px;

}

#reel2 {
  height: 50%;
  width: 30%;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: lightsalmon;

}

#reel3 {
  height: 50%;
  width: 30%;
  margin: 10px;
  display: flex;
  justify-content: center;
  background-color: lightgreen;

}

.spin-button {
    display: flex;
    align-self: flex-end;
    margin-right: 40%;
    margin-top: 0%;
}


  
 
  

  
 
  


  
  